@using MySMA.Models
@model MySMA.Models.QuestionBase

@{
    ViewBag.Title = "Create";
}

<br>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@ViewBag.questionDefinition.PromptText</h4>
        <hr/>
        @Html.HiddenFor(model => model.QuestionnaireId)
        @Html.HiddenFor(model => model.QuestionDefinitionId)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorForModel()
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Questionnaire List", "Index", "Questionnaires")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
